.wrapper {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 6px 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    z-index: -1;
}

.content {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 32px;
    .category {
        border: none;
        outline: none;
        width: 100%;
        padding: 4px 10px;
        option {
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.icon {
    display: flex;
    margin: auto;
}
